form {
    border: grey 2px solid;
    padding: 2vw;
    border-radius: 2vw;
    margin: auto;
    margin-top: 1vw;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

section h1 {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
}

form h1 {
    text-align: center;
    font-size: 2vw;
}

form label {
    text-align: center;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 1vw;
}

form input {
    border: 2px solid grey;
    border-radius: 1vw;
    height: 2vw;
    width: 25vw;
}

form textarea {
    border: 2px solid grey;
    border-radius: 0.5vw;
    height: 4vw;
    width: 25vw;
}

form button {
    margin-top: 1vw;
    padding: 1vw;
    background-color: lightgrey;
    border: 2px solid grey;
    border-radius: 1.5vw;
    cursor: pointer;
    width: 25vw;
    font-size: 1vw;
}

table {
    width:fit-content;
    margin: 0 auto;
    margin-top: 1vw;
    border: 2px grey solid;
    border-collapse: collapse;
}

.tabela h1 {
    margin-top: 1vw;
    font-size: 2vw;
    text-align: center;
}

table th,td {
    padding: 1vw;
}   

td:first-child {
    font-weight: bolder;
}

table  *  {
    border: 2px grey solid;
    font-size: 1vw;
}

@media (max-width: 900px) {
    section h1 {
        margin-top: 3vw;
        font-size: 5vw;
        text-align: center;
    }

    form {
        border: grey 2px solid;
        padding: 2vw;
        border-radius: 2vw;
        margin: auto;
        margin-top: 5vw;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }
    
    form h1 {
        text-align: center;
        font-size: 4vw;
    }
    
    form label {
        text-align: center;
        margin-top: 3.5vw;
        font-weight: bold;
        font-size: 3.5vw;
    }
    
    form input {
        border: 2px solid grey;
        border-radius: 2vw;
        height: 10vw;
        width: 60vw;
        font-size: 2vw;
    }
    
    form textarea {
        border: 2px solid grey;
        border-radius: 2vw;
        font-size: 2vw;
        height: 20vw;
        width: 60vw;
    }
    
    form button {
        margin-top: 3vw;
        padding: 1vw;
        background-color: lightgrey;
        border: 2px solid grey;
        border-radius: 1.5vw;
        cursor: pointer;
        width: 60vw;
        font-size: 4vw;
    }
    
    table {
        width:fit-content;
        margin: 0 auto;
        margin-top: 2vw;
        border: 2px grey solid;
        border-collapse: collapse;
    }
    
    table th,td {
        padding: 2vw;
    }   
    
    td:first-child {
        font-weight: bolder;
    }
    
    table  *  {
        border: 2px grey solid;
        font-size: 4vw;
    }

    .tabela {
        display: none;
    }
}

@media (min-width: 1024px) {
    .tabela2 {
        display: none;
    }
}