
.logo_footer {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 3vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
    gap: 1vw;
}

.logo_footer img {
    width: 15vw;
}

.logo_footer h1 {
    width: fit-content;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 1.3vw;
    
}

.bandeiras {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 1vw;
}

.bandeiras li {
    width: fit-content;
    border: 1px solid black;
    border-radius: 15px;

}

.bandeiras li img {
    width: 4.8vw; 
    height: 2.7vw;
    padding: 0.4vw;
}

.footer_content {
    display: flex;
    justify-content: space-around;  
    gap: 5vw;
    padding: 1vw;
    background-color: #f6f6f6;
}

.Atendimento {
    list-style: none;
    width: 25%;
    height: 10vw;
}

.Atendimento h1 {
    margin-bottom: 0.2vw;
}

.Atendimento h3 {
    text-align: left;
    margin-left: 2.6vw;
    margin-top: 0.4vw;
    font-size: 1.1vw;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: lighter;
}

.Atendimento li h1 {
    text-align: left;
    font-weight: bold;
    font-size: 1.4vw;
}

.Atendimento li p {
    text-align: left;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
}

.image {
    display: flex;
    gap: 1vw;
    margin-top: 0.4vw;
}

.Atendimento2 {
    list-style: none;
    width: 25%;
    height: 10vw;
}

.Atendimento2 h1 {
    text-align: left;
    margin-bottom: 0.4vw;
    font-size: 1.4vw;
}

.Atendimento2 p {
    margin-top: 0.5vw;
    text-align: left;
}

.Atendimento2 a {
    text-decoration: none;
    color: black;
}

.Atendimento2 a:hover {
    color: grey;
}

.fonte {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
}

.fonte2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logos2 {
    width: 7%;
}

@media (max-width: 800px) {
    .logo_footer {
        width: 100%;
        align-items: center;
        margin-left: 0vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
    }

    .logo_footer img {
        width: 45vw;
    }
    
    .logo_footer h1 {
        width: fit-content;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-size: 3.2vw;
        margin-top: 2.5vw;
    }
    
    .bandeiras {
        gap: 0vw;
    }
    
    .bandeiras li {
        border-radius: 10px;
    }
    
    .bandeiras li img {
        width: 15vw; 
        height: 7.5vw;
        padding: 1.2vw;
    }

    .footer_content {
        flex-direction: column; 
        align-items: center;
        width: fit-content;
        gap: 10vw;
        padding: 5vw;
    }
    
    .Atendimento {
        list-style: none;
        width: fit-content;
        height: fit-content;
    }
    
    .Atendimento li h1 {
        margin-bottom: 0vw;
        width: fit-content;
        text-align: left;
        font-weight: bold;
        font-size: 5vw;
    }
    
    .Atendimento h3 {
        text-align: left;
        margin-left: 10vw;
        margin-top: 2vw;
        font-size: 4vw;
        width: fit-content;
    }
    
    .Atendimento li p {
        width: 100%;
        text-align: left;
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 4vw;
        margin-left: 2vw;   
    }
    
    .image {
        display: flex;
        gap: 0vw;
        margin-top: 2vw;
    }
    
    .Atendimento2 {
        width: fit-content;
        height: fit-content;
    }
    
    .Atendimento2 h1 {
        width: 88.5vw;
        text-align: left;
        margin-bottom: 0.4vw;
        font-size: 5vw;
    }
    
    .Atendimento2 p {
        margin-top: 4vw;
        text-align: left;
    }
    
    .Atendimento2 a {
        width: 100%;
        font-size: 4vw;
    }
    
    .logos2 {
        width: 9%;
    }
}