@import "https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap";

.banners {
    overflow: hidden;
    position: relative;
}

.banners button {
    width: 3%;
    height: 10%;
    position: absolute;
    font-size: 2vw;
    background-color: rgba(217, 217, 217, 0.7);
    border: none;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    font-weight: lighter
}

.prev {
    left: 1%;
    top: 43%;
}

.next {
    right: 1%;
    top: 43%;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-indicators {
    margin-top: 0.7%;
    display: flex;
    gap: 0.7%;
    justify-content: center;
}

.indicator {
    width: 0.7vw;
    height: 0.7vw;
    background-color: black;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

.indicator.active {
    background-color: #f6f6f6;
    border: grey 0.35vw solid;
    width: 1.2vw;
    height: 1.2vw;
}

.livros {
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.titulo {
    display: flex;
    justify-content: space-around;
    gap: 72%;
    margin-top: 3%;
}

.titulo h1 {
    width: fit-content;
    font-size: 1.5vw;
    font-weight: lighter;
    font-family: 'Inter', sans-serif;
}

.titulo h2 {
    width: fit-content;
    font-size: 0.8vw;
    cursor: pointer;
    font-family: 'Inter', sans-serif;

}

.titulo h2:hover {
    color: grey;
}

.cards {
    width: fit-content;
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
    padding: 1.5vw;
    padding-right: 0.8vw;
    padding-left: 0.8vw;
    border: none;
    border-radius: 10px;
}

.card {
    width: fit-content;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 1vw;
    border: none;
    border-radius: 10px;
}

.card:hover{
    background-color: #d9d9d9;
    cursor: pointer;
}

.card img {
    width: 12vw;
    border: none;
    border-radius: 0.1vw;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.5);
}

.card h1 {
    text-align: left;
    margin: 0.2vw;
    margin-bottom: 0.8vw;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}

.card h2 {
    text-align: left;
    margin: 0.2vw;
    font-family: 'Inter', sans-serif;
}

.card h3 {
    margin: 0.2vw;
    text-align: left;
    font-size: 0.6vw;
    color: grey;
    font-weight: lighter;
}

.card button {
    width: 80%;
    border: none;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 0.8vw;
    margin-top: 0.3vw;
    font-family: 'Inter', sans-serif;
}

.card button:hover {
    color: #f9f9f9;
    background-color: #46d7ac;
    cursor: pointer;
}

.assina {
    background-color: gainsboro;
    margin-top: 2vw;
    padding: 2vw;
}

.assina h1 {
    font-size: 3vw;
    font-weight: 100;
    margin-bottom: 0.5vw;
}

.assina p {
    margin-bottom: 0.5vw;
}

.inputs {
    display: flex;
    margin: auto;
    width: fit-content;
    justify-content: center;
    gap: 15vw;
}

.inputs input {
    width: 24vw;
    text-align: left;
    margin-top: 1vw;
    border: black 1px solid;
    border-radius: 10px;
    padding: 1vw;
}

@media (max-width: 800px) {
    .banners {
        display: none;
    }

    .livros {
        gap: 3vw;
    }

    .titulo {
        display: flex;
        justify-content: space-around;
        gap: 25%;
        margin-top: 6%;
    }

    .titulo h1 {
        width: fit-content;
        font-size: 5vw;
        font-weight: lighter;
        font-family: 'Inter', sans-serif;
    }

    .titulo h2 {
        width: fit-content;
        font-size: 4vw;
        cursor: pointer;
        font-family: 'Inter', sans-serif;

    }

    .cards {
        width: 95%;
        overflow: hidden;
        overflow-x: scroll;
        padding-top: 3vw;
        padding-bottom: 4vw;
        padding-left: 1vw;
        padding-right: 1vw;
        white-space: nowrap;
    }

    .cards::-webkit-scrollbar {
        height: 4px;
    }

    .cards::-webkit-scrollbar-thumb {
        background-color: grey;
        border-radius: 5px;
    }

    .cards img {
        width: 131px;
    }

    .card:hover{
        background-color: gainsboro;
    }
    .card:active{
        background-color: gainsboro;
    }

    .card h1 {
        font-size: 4vw;
        margin: 1vw;
        margin-bottom: 2vw;
    }

    .card h2 {
        font-size: 3vw;
        margin: 1vw;
    }

    .card h3 {
        margin: 1vw;
        font-size: 2.5vw;
    }

    .card button {
        width: 80%;
        padding: 2vw;
        margin-top: 1vw;
        font-size: 4vw;
    }

    .card button:hover {
        color: black;
        background-color: #d9d9d9;
    }

    .card button:active {
        background-color: #46d7ac;
        color: #f6f6f6;
    }

    .assina {
        background-color: gainsboro;
        margin-top: 2vw;
        padding: 2vw;
    }
    
    .assina h1 {
        font-size: 7vw;
        font-weight: 100;
        margin-bottom: 0.5vw;
    }
    
    .assina p {
        margin-bottom: 0.5vw;
        font-size: 2.5vw;
    }
    
    .inputs {
        display: flex;
        margin: auto;
        width: fit-content;
        justify-content: center;
        flex-direction: column;
        gap: 1vw;
    }
    
    .inputs input {
        width: 75vw;
        text-align: left;
        margin-top: 1vw;
        font-size: 3.5vw;
        border-radius: 10px;
        padding: 2vw;
    }
}