body{
    background-color: #EDEDED;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 376px;
} 

.formulario{
    width: 429px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    border-radius: 16px;
    border: 1px solid #868686;
    margin-bottom:9.6% ;
    
}

.p{
  font-size: 29px; 
  text-align: start;
  width: 95%; 
}

form h5{
    margin: 0;
}

.formulario form{
    margin: 0 auto;
}

form p a{
    color: #008FAE;
    text-decoration: none; 
}

label{
   height: 76px;
    text-align: start;
}

input{
    width: 371px;
    height: 42px;
    border: 1px solid #808080;
    border-radius: 8px;
    margin-bottom: 10px;
}

button{
    margin-top: 10px;
    background-color: #d9d9d9;
    height: 42px;
    width: 371px;
    text-align: center;
    margin-left: 1%;
    border-radius: 8px;
    border: none;
}


@media screen and (max-width: 480px) {
    
    .formulario{
      border: none;
      margin-left: 3.5%;
      
    }

    input{
        height:30px ;
        width: 370px;
    }

    *{
        background-color: white;
    }
    
} 